/*  Fonts  */
@font-face {
    font-family: 'wcmanonegrabta';
    src: url('../fonts/wcmanonegrabta.eot');
    src: url('../fonts/wcmanonegrabta.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wcmanonegrabta.woff') format('woff'),
         url('../fonts/wcmanonegrabta.ttf') format('truetype'),
         url('../fonts/wcmanonegrabta.svg#wcmanonegrabta') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-regular';
    src: url('../fonts/aleo-regular.eot');
    src: url('../fonts/aleo-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-regular.woff') format('woff'),
         url('../fonts/aleo-regular.ttf') format('truetype'),
         url('../fonts/aleo-regular.svg#aleo-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-light';
    src: url('../fonts/Aleo-Light.eot');
    src: url('../fonts/aleo-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-light.woff') format('woff'),
         url('../fonts/aleo-light.ttf') format('truetype'),
         url('../fonts/aleo-light.svg#aleo-light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-italic';
    src: url('../fonts/aleo-italic.eot');
    src: url('../fonts/aleo-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-italic.woff') format('woff'),
         url('../fonts/aleo-italic.ttf') format('truetype'),
         url('../fonts/aleo-italic.svg#aleo-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleo-bold';
    src: url('../fonts/aleo-bold.eot');
    src: url('../fonts/aleo-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-bold.woff') format('woff'),
         url('../fonts/aleo-bold.ttf') format('truetype'),
         url('../fonts/aleo-bold.svg#aleo-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}